* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

header {
  top: 0;
  width: 100%;
  background-color: #03729E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1; }
  header h1 {
    width: 30%;
    color: #F6EFDE;
    font-size: 25px;
    padding-left: 10px;
    font-weight: lighter;
    text-align: left; }
  header .logo95 {
    height: 190px; }
  header nav .navegacion {
    display: flex; }
    header nav .navegacion li {
      list-style: none;
      align-items: center; }
      header nav .navegacion li a {
        padding: 5px;
        font-size: medium;
        text-decoration: none;
        color: #F6EFDE; }
        header nav .navegacion li ahover {
          color: #B6924C; }

main .hero {
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url(../img/portada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  color: #F6EFDE;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75); }
  main .hero h1 {
    color: #F6EFDE;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 50px; }
  main .hero p {
    color: #F6EFDE;
    text-align: center;
    font-size: medium;
    font-weight: bolder; }

main .asociate {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px; }

main .asociate div {
  background-color: #F6EFDE;
  width: 50%;
  height: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #006E9E;
  box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75);
  -webkit-box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75);
  -moz-box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75); }
  main .asociate div img {
    width: 100%;
    height: 100%; }
  main .asociate div p {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger; }
  main .asociate div .boton {
    font-size: medium;
    text-decoration: none;
    color: #B6924C; }
    main .asociate div .botonhover {
      background-color: #B6924C;
      color: #F6EFDE; }

main .h2-index {
  padding-top: 200px;
  text-align: center;
  color: #03729E; }

main .productos {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  main .productos div {
    width: 20%;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75);
    -webkit-box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75);
    -moz-box-shadow: 5px 4px 10px 5px rgba(153, 150, 150, 0.75); }
    main .productos div img {
      width: 100%;
      height: 75%; }
    main .productos div h3 {
      padding-top: 25px;
      padding-bottom: 5px;
      font-size: medium;
      text-align: center;
      color: #03729E; }
    main .productos div .boton {
      font-size: medium;
      text-decoration: none;
      color: #B6924C; }
      main .productos div .botonhover {
        background-color: #B6924C;
        color: #F6EFDE; }

.nosotros-main .carousel-inner {
  height: 700px; }

.nosotros-main .carousel-item img {
  height: 700px; }

.nosotros-main .carousel-item div h3 {
  color: #F6EFDE; }

.nosotros-main .carousel-item div p {
  color: #F6EFDE; }

.contacto-main {
  width: 100%;
  height: 100%;
  background-image: url(../img/contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contacto-main form {
    width: 70%;
    height: 50%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: left; }
    .contacto-main form div {
      padding-bottom: 15px; }
      .contacto-main form div .titulo-contacto {
        padding: 10px 0px 10px 0px;
        text-align: left;
        color: #F6EFDE; }
      .contacto-main form div .botones-contacto {
        color: #F6EFDE; }

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #03729E; }
  footer iframe {
    width: 30%;
    height: 150px; }
  footer .logo95 {
    height: 190px; }
  footer .redes-sociales {
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F6EFDE; }
  footer .redes-sociales a {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F6EFDE; }
  footer .redes-sociales img {
    height: 100%; }

@media screen and (max-width: 1348px) {
  header {
    flex-direction: column; }
  header h1 {
    text-align: center; }
  .logo95footer {
    height: 80%; } }

@media screen and (max-width: 992px) {
  /*--------INDEX------*/
  header h1 {
    padding-top: 10px;
    font-size: large;
    text-align: center; }
  .asociate div {
    width: 90%; }
  .productos {
    height: 500px; }
  .productos div {
    width: 25%;
    height: 300px; }
  .productos div img {
    height: 60%; }
  /*------Servicios------*/
  .servicios-main {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  .img-5 {
    grid-column: span 2; } }

@media screen and (max-width: 768px) {
  header h1 {
    text-align: center;
    font-size: large; }
  .asociate div {
    width: 90%; }
  .productos {
    height: 500px; }
  .productos div {
    width: 25%;
    height: 300px; }
  .productos div img {
    height: 60%; }
  /*-------DEPORTES-------*/
  .deportes-main {
    width: 100%;
    height: 1400px; }
  .deportes-main section {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px; }
  .nombre-deportes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; }
  .deportes-main div h4 {
    text-align: center; }
  .img-voley {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .img-gimnasia {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .img-futsal {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  /*---------SERVICIOS-------*/
  .servicios-main {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 576px) {
  header h1 {
    text-align: center;
    font-size: large; }
  .asociate div {
    width: 90%; }
  .productos {
    height: 500px; }
  .productos div {
    width: 25%;
    height: 300px; }
  .productos div img {
    height: 60%; }
  /*----------DEPORTES-----*/
  .deportes-main {
    width: 100%;
    height: 1300px; }
  .deportes-main section {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .nombre-deportes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 15px; }
  .deportes-main div h4 {
    text-align: center; }
  .img-voley {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .img-gimnasia {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  .img-futsal {
    width: 75%;
    height: 100%;
    padding: 0;
    margin: 0; }
  /*--------SEVICIOS-----*/
  .servicios-main {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

/*-----Footer-------*/
.logo95footer {
  height: 80%; }

.redes-sociales img {
  height: 70%; }

@media screen and (max-width: 450px) {
  .logo95 {
    height: 150px; }
  /*------Nosotros---------*/
  .nosotros-main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  /*---------Deportes-------*/
  .deportes-main {
    width: 100%;
    height: 1300px; }
  .deportes-main section {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .nombre-deportes {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px; }
  .deportes-main div h4 {
    text-align: center; }
  .img-voley {
    width: 75%;
    height: 85%;
    padding: 0;
    margin: 0; }
  .img-gimnasia {
    width: 75%;
    height: 85%;
    padding: 0;
    margin: 0; }
  .img-futsal {
    width: 75%;
    height: 85%;
    padding: 0;
    margin: 0; }
  /*-------FOOTER------*/
  .logo95footer {
    height: 60%; }
  .redes-sociales img {
    height: 80%; } }
