*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-------------INDEX HEADER-----*/
header{
    top: 0;
    width: 100%;
    background-color: #03729E; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

header h1{
    width: 30%;
    color: #F6EFDE;
    font-size: 25px;
    padding-left: 10px;
    font-weight:lighter;
    text-align: left;
}

header nav{
    width: 30%;
}


.logo95{
    height: 190px;
}

.navegacion{
    display: flex;
}

.navegacion li{
    list-style: none;
    align-items: center;
    
}

.navegacion li a{
    width: 30%;
    padding: 5px;
    font-size: medium;
    text-decoration: none;
    color: #F6EFDE;
}

.navegacion li a:hover{
    color: #B6924C;
}



/*------------INDEX MAIN--------*/

.hero{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../img/portada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}

.hero h1{
    color: #F6EFDE;
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    padding-bottom: 50px;
}

.hero p{
    color: #F6EFDE;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}


.asociate{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
}

.asociate div{
    background-color: #F6EFDE;
    width: 50%;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #006E9E;
    box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    }


.asociate div img{
    width: 100%;
    height: 100%;
}

.asociate div p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger;
}

.h2-index{
    padding-top: 200px;
    text-align: center;
    color: #03729E;
}


.productos{
    width: 100%;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.productos div{
    width: 20%;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
}


.productos div img{
    width: 100%;
    height: 75%;
}

.productos div h3{
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: small;
    text-align: center;
    color: #03729E;
}


.boton{
    font-size: medium;
    text-decoration: none;
    color: #B6924C;
}

.boton:hover{
    background-color: #B6924C;
    color: white;
}

/*------------INDEX FOOTER---------*/
footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #03729E ;
}

footer iframe{
    width: 30%;
    height: 150px;
}



.redes-sociales{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F6EFDE;
}

.redes-sociales a{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F6EFDE;
    
}

.redes-sociales img{
    height: 40px;
}





/*---------------------NOSOTROS----------------*/
.nosotros-main{
    width: 100%;
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item img{
    height: 80%;
}

.carousel-item h3{
        color: #F6EFDE;
}
.carousel-item div p{
        color: #F6EFDE;
}


/*----------------------DEPORTES----------------*/
.deportes-main{
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 50px;
    margin-top: 50px;
}

.deportes-main img{
    width: 100%;
    height: 300px;
}

.nombre-deportes{
    box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    position: relative;
}

.img-voley{
    margin-left: 50px;
}

.img-gimnasia{
    grid-column: 2 / 3;
}

.img-futsal{
    grid-column: span 3;
    margin-left: 50px;
    margin-right: 50px;
}


/*-----------------------SERVICIOS---------------*/

.servicios-main{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 50px;
    padding-top: 50px;
    text-align: center;   
}

.servicios-main div img{
    width: 100%;
    height: 100%;
}

.grid-item{
    box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
    position: relative;
}
.grid-item h3{
    color: #03729E;
    font-size: large;
    position: absolute;
    bottom: 0;
    background-color: #f6efdec4;
    width: 100%;
    text-align: center; 
}


.img-1{
    grid-row: span 2;
}

.img-2{

}

.img-3{
    grid-row: span 2;
}

.img-4{
    grid-column: 2 / 3;
}

.img-5{
    grid-column: span 3;
}



/*-----------------------CONTACTO-----------------*/


.contacto-main{
    width: 100%;
    height: 100%;
    background-image: url(../img/contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-main form{
    width: 70%;
    height: 50%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.contacto-main form div{
    padding-bottom: 15px;
}
.contacto-main form div label{
    text-align: center;
    color: #03729E;
}

.contacto-main .titulo-contacto{
    padding: 10px 0px 10px 0px;
    text-align: left;
    color: #03729E;
}

.contacto-main .botones-contacto{
    color: #03729E;
}






/*----------------MEDIA QUERY--------------------*/


@media screen and (max-width: 1348px){
    header{
        flex-direction: column;
    }

    header h1{
        text-align: center;
    }

    header nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 950px){

    header h1{
        padding-top: 10px;
        font-size:large;
        text-align: center;
    }

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.servicios-main{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
    }

.grid-item{
    grid-column: span 1 ;
    grid-row: span 1;
}

.img-5{
    grid-column: span 2;
}
}


@media screen and (max-width: 767px){
header h1{
    text-align: center;
    font-size:large;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navegacion li a{
    margin: 0;
    padding-right: 0;
}



.servicios-main{
    grid-template-columns: 1fr;
}

.grid-item{
    grid-column: span 1 ;
    grid-row: span 1;
}
}

@media screen and (max-width: 577px){
    header h1{
        text-align: center;
        font-size:large;
    }
    
    header nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .navegacion li a{
        margin: 0;
        padding-right: 0;
    }
    
    
    
    .servicios-main{
        grid-template-columns: 1fr;
    }
    
    .grid-item{
        grid-column: span 1 ;
        grid-row: span 1;
    }
}

