header{
    top: 0;
    width: 100%;
    background-color: $color-primario; 
    @include flex (flex, space-evenly, center);
    z-index: 1;

    h1{
        width: 30%;
        color: $color-terciario;
        font-size: 25px;
        padding-left: 10px;
        font-weight:lighter;
        text-align: left;
    }


    

    .logo95{
        height: 190px;
    }

    nav{
        .bg-navbar{
            background-color: $color-primario;
            
        }
        
        .nav-index{
            color: $color-secundario; 
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            text-decoration: none;
            white-space: nowrap;
        }
        
        .nav-nosotros{
            color: $color-secundario !important;
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
        
        .nav-contacto{
            color: $color-secundario !important;
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
        
        .nav-info{
            display: block;
            padding: 0.5rem 1rem;
            color: $color-secundario !important;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
        
        .nav-deportes{
            display: block;
            width: 100%;
            padding: 0.25rem 1rem;
            clear: both;
            font-weight: 400;
            color: $color-secundario !important;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
        
        .nav-servicios{
            display: block;
            width: 100%;
            padding: 0.25rem 1rem;
            clear: both;
            font-weight: 400;
            color: $color-secundario !important;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
}