//INDEX

main{
        .hero{
            width: 100%;
            height: calc(100vh - 130px);
            background-image: url(../img/portada.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            @include flex (flex, center, center);
            flex-direction: column;
            text-align: center;
            font-weight:bolder;
            font-size:larger;
            color: $color-terciario;
            box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);

        h1{
            color: $color-terciario;
            text-align: center;
            font-weight: bolder;
            font-size:xx-large;
            padding-bottom: 50px;
        }

        p{
        color: $color-terciario;
        text-align: center;
        font-size: medium;
        font-weight: normal;
        }
        }

        .asociate{
                padding-top: 100px;
                @include flex (flex, center, center);
                width: 100%;
                height: 450px;}

                .asociate div{
                    background-color: $color-terciario;
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    color: $color-primario;
                    box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
                    -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
                    -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);

                        img{
                            width: 100%;
                            height: 100%;
                }

                        p{
                        padding-bottom: 10px;
                        padding-top: 20px;
                        font-size: larger;
                }

                .boton{
                        font-size: medium;
                        text-decoration: none;
                        color: $color-secundario;
                        &hover{background-color: $color-secundario;
                        color: $color-terciario;}
                }
                }

                

                
                

                .h2-index{
                        padding-top: 200px;
                        text-align: center;
                        color: $color-primario;
                }

                .productos{
                            width: 100%;
                            height: 700px;
                            padding-top: 50px;
                            padding-bottom: 100px;
                            @include flex (flex, space-evenly,center);


                    .producto-imagenes{
                        transition: 2s;
                        width: 20%;
                        height: 400px;
                        text-align: center;
                        


                        img{
                            width: 100%;
                            height: 75%;
                        }
                        
                        h3{
                            padding-top: 25px;
                            padding-bottom: 5px;
                            font-size: medium;
                            text-align: center;
                            color: $color-primario;
                        }

                        .boton{
                                font-size: medium;
                                text-decoration: none;
                                color: $color-secundario;
                                &hover{background-color: $color-secundario;
                                color: $color-terciario;}
                        }
                        }

                        .producto-imagenes:hover{
                            transform: scale(1.3);
                            box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
                            -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
                            -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
                        }
                }
    }


// DEPORTES
.deportes-main{
    width: 100%;
    height: 800px;

    section{
        width: 100%;
        height: 800px;
        @include flex (flex, space-between, center);
    }

    .nombre-deportes{
        width: 100%;
        height: 400px;
        @include flex (flex, center, center);

        .img-voley{
            width: 75%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .img-gimnasia{
            width: 75%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .img-futsal{
            width: 75%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }

}




// NOSOTROS

.nosotros-main{
    width: 100%;
    height: 100%;
    padding: 0px;

    .parrafo-relleno{
        
        .nosotros-relleno{
            display: none;
        }
    }
    

    .carousel-inner{
        padding: 0px;
        height: 100%;

        .carousel-item{
            
            .carousel-caption{
                h3{
                    color: $color-terciario;
                }
                
                p{
                    color: $color-terciario;
                }
            }
        }
                }  
    }


//CONTACTO

    .contacto-main{
        width: 100%;
        height: 100%;
        background-image: url(../img/contacto.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex (flex, center, center);

                form{
                    width: 70%;
                    height: 50%;
                    padding-top: 3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    
                    div{
                    padding-bottom: 15px;
                    
                    .titulo-contacto{
                                    padding: 10px 0px 10px 0px;
                                    text-align: left;
                                    color: $color-primario;
                        }

                    .botones-contacto{
                                    color: $color-primario;
                        }
                    }
                }
                
    }

.servicios-main{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 50px;
    padding-top: 50px;
    text-align: center;  


        .img-1{
            grid-row: span 2;
            }

        .img-3{
            grid-row: span 2;
            }

        .img-4{
            grid-column-start: 2;
            grid-column-end: 3;
            }

        .img-5{
            grid-column: span 3;
            }


        .grid-item{
            box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
            -webkit-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
            -moz-box-shadow: 5px 4px 10px 5px rgba(153,150,150,0.75);
            position: relative;
            
            img{
                width: 100%;
                height: 100%;}

            h3{
                color: $color-primario;
                font-size: large;
                position: absolute;
                bottom: 0;
                background-color: $color-terciario;
                width: 100%;
                text-align: center; 
            }
            }
        }
