@media screen and (max-width: 1348px){

    header{
        flex-direction: column;
        
        h1{
            text-align: center;
        }

        .logo95{
            height: 200px;
        }

        .navbar{
            padding-left: 30px;
            .navbar-nav{
                
                .dropdown-menu{
                    width: 50%;
                }
            }
        }


}
/*---------FOOTER-----------*/

footer{
    
    .logo95footer{
        height: 80%;
    }

    .redes-sociales{
        
        img{
            height: 60%;
        }
    } 
}
}


@media screen and (max-width: 992px){
/*--------INDEX------*/

header{
        h1{
            padding-top: 10px;
            font-size:large;
            text-align: center;
        }

        .logo95{
            height: 150px;
        }

        .navbar{
            padding-left: 30px;
            .navbar-nav{
                
                .dropdown-menu{
                    width: 50%;
                }
            }
        }


}

main{
    .asociate{
        div{
            width: 90%;
        }
    }

    .productos{
        height: 500px;

        div{
            width: 25%;
            height: 300px;

            img{
                height: 60%; 
            }
        }
        }
}

footer{

    .redes-sociales{
        height: 70%;
    }
}


/*-------DEPORTES------*/

.deportes-main{
    width: 100%;
    height: 100%;

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
        padding: 30px 0px 30px 0px;
    }
    .nombre-deportes{
        width: 400px;

        .img-voley{
            width: 95%;
        }

        .img-gimnasia{
            width: 95%;
        }

        .img-futsal{
            width: 95%;
        }
    }
}

/*------Servicios------*/

.servicios-main{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;

        .grid-item{
            grid-column: span 1 ;
            grid-row: span 1;
        }

        .img-5{

            grid-column: span 2;
        }
    }




}

/*-------FOOTER------*/



/*----------CONTACTO------*/
.contacto-main{
    width: 100%;
    height: 100%;
    background-image: url(../img/contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-main form{
    width: 70%;
    height: 50%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.contacto-main form div{
    padding-bottom: 15px;
}
.contacto-main form div label{
    text-align: center;
    color: #03729E;
}

.contacto-main .titulo-contacto{
    padding: 10px 0px 10px 0px;
    text-align: left;
    color: #03729E;
}

.contacto-main .botones-contacto{
    color: #03729E;
}


@media screen and (max-width: 768px){

header{
    flex-direction: row;
        h1{
            text-align: center;
            font-size:large;
        }

        .logo95{
            height: 150px;
        }

        .navbar{
            padding-left: 30px;
            .navbar-nav{
                
                .dropdown-menu{
                    width: 50%;
                }
            }
        }


}

.asociate div{
    width: 90%;
}


.productos{
height: 500px;
}


.productos div{
    width: 25%;
    height: 300px;
}

.productos div img{
    height: 60%; 
}

/*-------DEPORTES-------*/

.deportes-main{
    width: 100%;
    height: 100%;

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
        padding: 30px 0px 30px 0px;
    }
    .nombre-deportes{
        width: 400px;

        .img-voley{
            width: 95%;
        }

        .img-gimnasia{
            width: 95%;
        }

        .img-futsal{
            width: 95%;
        }
    }
}

/*---------SERVICIOS-------*/

.servicios-main{
    grid-template-columns: 2fr;
    grid-auto-rows: 190px;
}
}

/*--------NOSOTROS-------*/

.nosotros-main{
    width: 100%;
    height: 100%;

    p{
        
    }
    }

    .carousel-inner{
        padding: 0px;
        height: 100%;

        .carousel-item{
            img{
                height: 100%;
            }

            h3{
                color: #F6EFDE;
            }
            
            p{
                color: #F6EFDE;
            }
        }
    }




@media screen and (max-width: 576px){
    
    header{
        flex-direction: row;
            h1{
                display: none;
            }
    
            .logo95{
                height: 150px;
            }
    
            .navbar{
                padding-left: 30px;
                .navbar-nav{
                    
                    .dropdown-menu{
                        width: 50%;
                    }
                }
            }
    
    
    }

    .asociate div{
        width: 90%;
    }


    .productos{
    height: 500px;
    }


    .productos div{
        width: 25%;
        height: 300px;
    }
    
    .productos div img{
        height: 60%; 
    }

/*----------DEPORTES-----*/

.deportes-main{
    width: 100%;
    height: 100%;

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
        padding: 30px 0px 30px 0px;
    }
    .nombre-deportes{
        width: 400px;

        .img-voley{
            width: 95%;
        }

        .img-gimnasia{
            width: 95%;
        }

        .img-futsal{
            width: 95%;
        }
    }
}



    /*--------SEVICIOS-----*/
    .servicios-main{
        grid-template-columns: 1fr;
        
        .grid-item{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}
/*----------NOSOTROS-----*/

.nosotros-main{
    width: 100%;
    height: 100%;
    
            p{
        color: #03729E;
        text-align: center;
        padding: 50px 0px 30px 0px;
    }

    .carousel-inner{
        padding: 50px 0px 50px 0px;
        height: 100%;

        .carousel-item{
            img{
                height: 100%;
            }

            h3{
                color: #F6EFDE;
            }
            
            p{
                color: #F6EFDE;
            }
        }
    }
}


/*-----Footer-------*/

footer{
    
    .logo95footer{
        height: 80%;
    }

    .redes-sociales{
        height: 70%;
    }
}



@media screen and (max-width:  450px){
header{
    flex-direction: row;
        
        h1{
            display: none;
        }

        .logo95{
            height: 150px;
        }

        .navbar{
            padding-left: 30px;
            
            .navbar-nav{
                
                .dropdown-menu{
                    width: 50%;
                }
            }
        }


}



/*------Nosotros---------*/

.nosotros-main{
    width: 100%;
    height: 600px;
        
        p{    
        color: #03729E;
        text-align: center;
        padding-top: 30px;
        }

    .carousel-inner{
        padding: 50px 0px 0px 0px;
        height: 100%;

        .carousel-item{
            img{
                height: 100%;
            }

            h3{
                color: #F6EFDE;
            }
            
            p{
                color: #F6EFDE;
            }
        }
    }
}


/*---------Deportes-------*/
.deportes-main{
    width: 100%;
    height: 100%;

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
        padding: 30px 0px 30px 0px;
    }
    .nombre-deportes{
        width: 400px;

        .img-voley{
            width: 95%;
        }

        .img-gimnasia{
            width: 95%;
        }

        .img-futsal{
            width: 95%;
        }
    }
}

/*-------FOOTER------*/


    .logo95footer{
        height: 60%;
    }

    .redes-sociales img{
        height: 80%;
    }
}



@media screen and (max-width:350px){
    header{
        flex-direction: row;

        .logo95{
            height: 100px;
        }

        h1{
            display: none;
        }

        .navbar{
            .navbar-nav{
                .dropdown-menu{
                    width: 50%;
                }
            }
        }
        
    }
    

main{

    .productos{
        div{

            
                
            h3{
                font-size: x-small;
            }

            .boton{
                font-size: small;
            }
        }
    }
}



    
    /*------Nosotros---------*/
    
    .nosotros-main{
        width: 100%;
        height: 600px;
        p{
            
            color: #03729E;
            text-align: center;
            padding-top: 50px;
        }
    
        .carousel-inner{
            padding: 50px 0px 0px 0px;
            height: 100%;
    
            .carousel-item{
                img{
                    height: 100%;
                }
    
                h3{
                    color: #F6EFDE;
                }
                
                p{
                    color: #F6EFDE;
                }
            }
        }
    }
    
    
    /*---------Deportes-------*/
    .deportes-main{
        width: 100%;
        height: 100%;
        
        section{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 25px;
            padding: 30px 0px 30px 0px;

            .nombre-deportes{
                width: 300px;
                
                .img-voley{
                    width: 90%;
                    height: 70%;
                }
    
                .img-gimnasia{
                    width: 90%;
                    height: 70%;
                }
    
                .img-futsal{
                    width: 90%;
                    height: 70%;
                }
            }
            
        }
    }
    
    /*-------FOOTER------*/
    
    
        .logo95footer{
            height: 60%;
        }
    
        .redes-sociales img{
            height: 70%;
        }
}
